# lab 2
jupyter
jupyterlab
requests

# lab 3
numpy
pandas
mysql-connector-python
pymongo
dnspython

# lab 4
folktables
scikit-learn
matplotlib
seaborn
# sklearn
fairlearn

# lab 6
ucimlrepo
scikit-learn
shap

# lab 7
datetime
# calendar

# pywhatkit
pywhatkit
twilio

git+https://github.com/weatherapicom/python.git#egg=weatherapipython

openai
schedule